@import "tailwindcss";

@theme {
    --color-primary: #2C2C2C;
    --color-secondary: #6495ED;
    --color-tertiary: #FAF9F6;

    /* screns */
    --breakpoint-lg: 900px  ;

    /* fonts */
    --font-sans: var(--font-english), sans-serif; /* default */
  --font-urdu: var(--font-urdu), serif;  
}

/*  */
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  /* font-size: 40px; */
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #fff;
  background: 
    linear-gradient(-60deg,#0000 45%,#fff 0 55%,#0000 0) 
    0/300% 100% no-repeat text;
  animation: l3 2s linear infinite;
}
.loader:before {
  content: "Loading";
}
@keyframes l3 {
  0%{background-position: 100%}
}

.fade_end{
  mask-image: linear-gradient(to left, transparent 0%, black 12%, black 100%);

}